@using BN.Application.Contract.News
@model IEnumerable<NewsViewModel>






@await Html.PartialAsync("_ModalNews")


<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="m-b-30">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@@mdo">افزودن خبر</button>
                        </div>
                    </div>
                </div>

                <div class="editable-responsive">
                    <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="col-sm-12">
                            <table class="table table-striped dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending" style="width: 148px;">
                                            شناسه خبر
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending" style="width: 148px;">
                                            نام خبر
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="مرورگر: activate to sort column ascending" style="width: 313px;">
                                            عکس خبر
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-label="سیستن عامل: activate to sort column ascending" style="width: 190px;">
                                            گروه خبر
                                        </th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="فعالیت" style="width: 92px;">
                                            تاریخ
                                        </th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="فعالیت" style="width: 92px;">
                                            وضعیت
                                        </th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="فعالیت" style="width: 92px;">
                                            جعبه ابزار
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX odd" role="row">
                                            <td class="sorting_1">
                                                @item.Id
                                            </td>
                                            <td class="sorting_1">
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.Image
                                            </td>
                                            <td>
                                                @item.NewsCategory
                                            </td>
                                            <td>
                                                @item.CreationDate
                                            </td>
                                            @if (item.IsDeleted)
                                            {
                                                <td><span class="label label-danger">غیر فعال</span></td>

                                                <td>
                                                    <form method="post" asp-page="News" asp-page-handler="ActiveNews">
                                                        <button type="submit" class="btn btn-block btn-icon waves-effect waves-light btn-success m-b-5">  <i class="fa fa-thumbs-o-up"></i> فعال کردن </button>
                                                        <input type="hidden" name="id" value="@item.Id" />
                                                    </form>
                                                </td>
                                            }
                                            else
                                            {
                                                <td><span class="label label-success">فعال</span></td>

                                                <td>
                                                    <form method="post" asp-page="News" asp-page-handler="RemoveNews">
                                                        <button type="submit" class="btn btn-block btn-icon waves-effect waves-light btn-danger m-b-5"> <i class="fa fa-remove"></i>  غیر فعال کردن </button>
                                                        <input type="hidden" name="id" value="@item.Id" />
                                                    </form>
                                                </td>
                                            }
                                            <td class="actions">
                                                <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                                <!-- edit Button trigger modal -->
                                                <button type="button" onclick="FunctionEditNews('@item.Id', '@item.Title', '@item.Content', '@item.Image', '@item.NewsCategory', '@item.ShortDescription')" href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-pencil"></i></button>

                                            </td>
                                        </tr>

                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="datatable-editable_info" role="status" aria-live="polite">
                                لیست خبر ها
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-editable_paginate">
                                <ul class="pagination">

                                    <li class="paginate_button active" aria-controls="datatable-editable" tabindex="0"><a href="#">1</a></li>
                                    <li class="paginate_button " aria-controls="datatable-editable" tabindex="0"><a href="#">2</a></li>
                                    <li class="paginate_button " aria-controls="datatable-editable" tabindex="0"><a href="#">3</a></li>
                                    <li class="paginate_button " aria-controls="datatable-editable" tabindex="0"><a href="#">4</a></li>
                                    <li class="paginate_button " aria-controls="datatable-editable" tabindex="0"><a href="#">5</a></li>
                                    <li class="paginate_button disabled" aria-controls="datatable-editable" tabindex="0" id="datatable-editable_ellipsis"><a href="#">…</a></li>
                                    <li class="paginate_button " aria-controls="datatable-editable" tabindex="0"><a href="#">8</a></li>
                                    <li class="paginate_button next" aria-controls="datatable-editable" tabindex="0" id="datatable-editable_next"><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: panel body -->

    </div> <!-- end panel -->
</div> <!-- end col-->
<!-- Send the parameter to the edit modal -->
<script>
    function FunctionEditNews(id, Title, content, image, category, shortdescription) {
        $('#newsid').val(id);
        $('#newstitle').val(Title);
        $('#newscontent').val(content);
        $('#newsimage').val(image);
        $('#newscategory').val(category);
        $('#newsdescription').val(shortdescription);
    }
</script>
