@using BN.Application.Contract.User
@model IEnumerable<UserViewModel>

<div class="row">
  @await Component.InvokeAsync("CommentAll") <!-- end col -->

    <div class="col-lg-8">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">فعال</a></li>
                    <li><a href="#">متن اول</a></li>
                    <li><a href="#">متن دوم</a></li>
                    <li class="divider"></li>
                    <li><a href="#">متن پاورقی</a></li>
                </ul>
            </div>

            <h4 class="header-title m-t-0 m-b-30">آخرین پروژه های اجرا شده</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>یوزر نیم</th>
                            <th>ایمیل</th>
                            <th>رمز عبور</th>
                            <th>نقش کاربر</th>
                            <th>تاریخ ثبت نام</th>
                            <th>درجه کاربر</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserId</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>@item.Passwoard</td>
                                <td>@item.UserRole</td>
                                <td>@item.CreationDate</td>
                                <td>@item.IsAdmin</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div><!-- end col -->

</div>